@keyframes pulse {
  0% {
    opacity: 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;

    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
  }
}

.button {
  margin: 5px;
  padding: 12px 30px;
  position: relative;
  background-color: $primary;
  border-radius: $radius-full;

  line-height: 1.5;
  color: $secondary;
  font-size: $font-sm;
  font-weight: 700;

  transition: all 0.2s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    border: $primary solid 3px;
    border-radius: $radius-full;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-duration: 1s;
  }

  &:hover::before {
    animation-name: pulse;
  }
}
