@keyframes pulse {
  0% {
    opacity: 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;

    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
  }
}

.button {
  cursor: pointer;

  margin: 5px;
  padding: 15px 30px;
  position: relative;
  background-color: $primary;
  border-radius: $radius-full;

  line-height: 1.5;
  color: $secondary;
  font-size: $font-sm;
  font-weight: 700;

  transition: all 0.2s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    border: $primary solid 3px;
    border-radius: $radius-full;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-duration: 1s;
  }

  &:hover::before {
    animation-name: pulse;
  }

  &.outline {
    color: $secondary;
    border: 2px solid $secondary;
    background-color: transparent;

    &::before {
      display: none;
    }

    &:hover {
      color: $white;
      background-color: $secondary;

      &::before {
        animation: none;
      }
    }
  }

  &.input {
    display: block;
    padding-left: 5px;
    padding-right: 5px;

    line-height: 1.4;
    text-align: center;
    font-size: $font-xs;

    &.outline {
      // TODO: mudar estilo de hover, pra nao ficar igual ao ativo
      &:hover {
        color: initial;
        background-color: initial;
      }

      &:hover,
      &.checked {
        color: $white;
        background-color: $secondary;
      }
    }

    @media only screen and (min-width: $media-md) {
      font-size: $font-sm;
    }
  }

  &.sm {
    line-height: 1.3;
    padding: 12px 30px;
  }
}
