$black: #000;
$white: #fff;

$primary: #ff8900;
$secondary: #212121;
$lightGray: #f3f3f3;

$font-xs: 12px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 32px;
$font-3xl: 40px;
$font-4xl: 50px;
$font-5xl: 60px;
$font-6xl: 70px;

$containerPadding: 16px;
$containerWidth: 90%;
$containerMaxWidth: 1330px;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-full: 9999px;

$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
